# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://nnojhoyenbnlyekewxja.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_96ZLj5tyoo4E06FsWwGz7g_DiIiAGqh
SUPABASE_SERVICE_ROLE_KEY=sb_secret_DYokXHd2GuDV7OMD9Y473w_JhzomhGZ

# Next.js Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
